<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detaylar</h1>
    {% for i in urun %}
    {% if i.resim %}
    <img src="{{i.resim.url}}" alt=""> <!--databasede resmi bir url içinde tutuyor bu yüzden urle şeklinde çağırdık.-->
    {% else %}
    <p>Resim YOK!!</p>
    {% endif %}
    <h3>{{i.urunismi}}</h3>
    <p>{{i.aciklama}}</p>
    <small>{{i.fiyat}}</small>
    {% endfor %}
    <br>
    <a href="{% url 'index' %}">Anasayfaya git</a>
</body>
</html>